POSTGRES_DB=signalattention
POSTGRES_USER=signalattention
POSTGRES_PASSWORD=signalattention
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8080
ML_SERVICE_URL=http://ml-service:8000
ML_SERVICE_PORT=8000
